# Archivos del sistema
.DS_Store
Thumbs.db

# Node.js (si usas React)
node_modules/
package-lock.json

# Archivos temporales o generados
dist/
build/
.cache
*.log

# WordPress
wp-config.php
wp-content/uploads/

# GitHub Pages (si usas una carpeta para documentación)
docs/.DS_Store
docs/node_modules/
